body{
    
    background-color: hsl(212, 45%, 89%) ;
    width: 20%;
    text-align: center;
    margin: 100px auto 0 auto;
}
img{
    width: 87%;
    border-radius: 5%;
    margin-top: 16px;
    
}

h1{
    font-family: 'Outfit';
    font-size: 21px;
    margin-top: 15px;
}
p{
    font-family: 'Outfit';
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    margin: auto;
    text-align: center;
}
.container{
    background-color: white;
    width: 18rem;
    height: 30rem;
    position: absolute;
    border-radius: 5%;
}
.container-inside{
    background-color: white;
    width: 15rem;
    height: 5rem;
    position: absolute;
    border-radius: 5%;
    text-align: center;
    padding: 8%;
}
